@font-face {
    font-family: myFont;
    src: url(fonts/chillen-webfont.woff2);
    src: url(fonts/chillen-webfont.woff);
    font-weight: normal;
}

@font-face {
    font-family: logoFont;
    src: url(fonts/norse-bold_1-webfont.woff2);
    src: url(fonts/norse-bold_1-webfont.woff);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Custom Styling */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    font-family: monospace, 'Courier New', Courier, serif;
    font-size: 62.5%;
}

.sidebar {
    flex: 1;
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    background: url(assets/sidebar-img.jpg);
    background-size: cover;
}

.sidebar-container {
    flex: 1;
    margin-top: 18vh;
}

.overlay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgba(0 0 0/0.2);
}

.overlay img {
    height: 12vh;
    width: auto;
}

.overlay .textLogo p{
    font-family: logoFont, monospace, serif;
    font-size: 3.2rem;
    color: #fff;
}

.credit {
    text-align: center;
}

.credit p {
    color: #fff;
    font-size: 0.6rem;
}

.credit p a {
    color: #fff;
}

.main-container {
    flex: 2;
    flex-basis: 66.67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffe;
}

section.description {
    max-width: 45ch;
    font-family: myFont, monospace, serif;
    font-size: 1.4rem;
    margin-bottom: 2em;
    padding-left: 2rem;
}

/* Make input appearance consistent */

button, 
input {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em;
    margin: 0;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    width: 45ch;
}

input:hover, input:focus {
    background-color: #eee;
}

input:focus {
    outline: none;
    border: 2px solid #4290f5; 
    box-shadow: 2px 3px 3px 0 #aaa;
}

input[type="password"]:invalid {
    border: 2px solid red;
}

input[type="password"]:valid {
    border: 2px solid green;
}



.form-fields {
    padding: 2rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0 #ccc;
    margin-bottom: 2em;
}

.form-fields div[class^='row'] {
    display: flex;
    gap: 8em;
    margin-bottom: 1em;
}

span[aria-label='required'] {
    color: red;
}

label{
    display: block;
    font-weight: 300;
}

.form-fields div:last-child {
    position: relative;
}

.pwd-requirements {
    /* position: absolute; */
    right: 40px;
}

ul li {
    list-style-type: none;
    font-size: 0.4rem;
    color: red;
}

.cta {
    padding-left: 2rem;
}

.cta button {
    background-color: #4290f5;
    padding: 1em;
    width: 30ch;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;
    box-shadow: 2px 3px 3px 0 #aaa;
}

.cta button:hover {
    background-color: #fff;
    color: #4290f5;
    font-weight: 700;
    cursor: pointer;
}

.cta button:active {
    background-color: #fff;
    color: #4290f5;
    font-weight: 700;
    box-shadow: 0 0 3px 0 #aaa inset;
    cursor: pointer;
}

.cta p>a {
    text-decoration: none;
    color: #4290f5;
    font-weight: 800;
}


